<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemetry Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="px-[12.5%] py-8">
        <h1 class="text-xl text-gray-600 font-bold px-4 py-4 bg-orange-300 rounded">
            Telemetry Dashboard
        </h1>
        <table class="min-w-full border-collapse border border-gray-200 mt-4">
            <thead>
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Sensor</th>
                    <th class="border border-gray-300 px-4 py-2">Value</th>
                    <th class="border border-gray-300 px-4 py-2">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">CPU Usage</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">45%</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">2024-10-01 12:00:00</td>
                </tr>
                <tr class="bg-gray-100">
                    <td class="border border-gray-300 px-4 py-2 text-center">Memory Usage</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">3.2 GB</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">2024-10-01 12:00:00</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center">Disk I/O</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">120 MB/s</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">2024-10-01 12:00:00</td>
                </tr>
            </tbody>
        </table>

        <div class="mt-5 p-4 bg-gray-50 rounded border border-gray-200">
            <h2 class="text-lg font-semibold mb-2">WebSocket Status</h2>
            <div class="flex items-center gap-2">
                <div id="status-indicator" class="w-3 h-3 rounded-full bg-red-500"></div>
                <span id="status-text" class="text-gray-700">Disconnected</span>
            </div>
        </div>
        <div class="mt-2">
            <a href="/db-connection-test" class="text-blue-700 text-sm">Click here to test database connection</a>
        </div>
    </div>
</body>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="../static/dashboard.js"></script>


</html>